:host {
  .charts {
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    flex-grow: 1  !important;
    justify-content: stretch  !important;
    flex-wrap: wrap  !important;


    .chart {
      margin-right: 15px;
      margin-bottom: 10px;
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    .charts {
      .chart {
        min-width: 520px;
      }
    }
  }
}
