:host {
  .charts {
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;


    .chart {
      margin-right: 15px;
      margin-bottom: 45px;
    }
  }

  @media (min-width: 768px) {
    .charts {
      .chart {
        min-width: 520px;
      }
    }
  }
}
