@import "./config-scss/variables";
@import "./config-scss/reset";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background-color);
}

.container {
  padding: 0rem 1rem;
}

.no-data {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: #FFFFFF;
}
